* {
    margin: 0px;
    padding: 0px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    flex: none;
    height: 960px;
    width: 960px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center


}

.gridRow {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.pixel {

    flex: 1;

}


.hovered {
    background-color: pink;
}